p{
    background-color: aqua;
}

div{
    background-color: blue;
}
span{
    background-color: rgb(74, 186, 46);
}
h1{
    background-color: rgb(222, 2, 2);
}
a{
    background-color: rgb(215, 231, 40);
}