body{
    background-color: rgb(197, 87, 248);
}

.cards{
    border: 4px solid black;
    display: flow-root;
}
.card{
    border: 2px solid red;
}
img{
    float: right;
    
}
.card:nth-child(3){
    background-color: limegreen;
    clear: right;
}
footer{
    position: fixed;
    bottom: 0px;
    color:darkred;
}
