
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
margin: 0px;
padding: 0px;
font-family: 'Poppins',sans-serif;

}

:root{
    --color: rgb(6, 150, 6);
    --seccolor:rgb(109, 204, 123);
    --text-color: white;
    --bgcolor: rgb(148, 219, 168);
    
    
}
body{
    background-color:var(--bgcolor);
}
ul{
padding: 30px;
    background-color: var(--color);
}
ul li{
    padding:30px;
}
li{
    display:inline;
    
}

ul li a{
    color: var(--text-color);
    text-decoration: none;
}
p{
    margin:2px;
    padding: 20px;
    background-color: var(--seccolor);
}
footer{
    position:fixed;
    bottom: 0px;
    color: #023020  
}
